.ui-autocomplete-loading {
  background: white image-url('ui-anim_basic_16x16.gif') right center no-repeat;
}

.ui-menu-item {
  background-color: white;
  a {color: #016cbd;}
}

.ui-menu {
  min-width:271px !important;
}

.h3-autocomplete {
  color:#AC0201;
  padding-left:10px;
}
